*{
    margin: 0; /*внешний отступ*/
    padding: 0; /*внутренний отступ*/
    /*???  reset normolize ???*/
}
a{  /*ссылки*/
    text-decoration: none;
}
li{  /*списки*/
    text-decoration: none;
    list-style: none;
}
body{
    background: #fafafa;
    font-family: 'Raleway', sans-serif;
}
.logo{
    background: #fab574;
    width: 100%;  /*ширина*/
    display: flex;  /*определим что logo это flex контейнер*/
    justify-content: center;  /*выравнивание элементов горизонтально*/
}
.graficlogo{
    padding: 5px;
    max-width: 100%; /*чтоб картинка была адаптивной*/
    box-sizing: border-box; /*механизм который изменяет алгоритм расчета ширины и высоты*/
}

nav{
    margin: auto;
    width: 800px;
    height: 100px;
}
.topnav{
    background-color: #fafafa;
    font-size: 14px;
    margin-top: 30px; /*внешний отступ от верха*/
}
.topnav a{  /*стилезуем ссылки*/
    color: #000;
    text-align: center;
    padding: 14px 16px; /*14px сверху, 16px слева-справа*/
    font-size: 20px;
}
.topnav a:hover{  /*hover эффект*/
    border-bottom: 3px solid #fab574;  /*solid сплошная рамка*/
    /*background: #fab574;*/
}
.topnav .icon{
    display: none;
}

.mw-100{
    margin-top: -40px;
    width: 100%;
    /*max-width: 100%; !* отображение не будет выходить за пределы родиетльского контейнера,  для адаптивности  *!*/
}
.advantages_container{ /**/
    display: flex;  /*определим флэкс-контейнером  flex-box*/
    justify-content: center; /*выравнивание элементов вдоль горизонтальной оси*/
}
.advantages{
    padding-top: 40px;
    width: 70%; /*ширина блока*/
    display: flex; /*определяем flex элементом*/
    justify-content: space-between; /*пространство между элементами*/
    text-align: center;  /* текст по центру*/
    flex-wrap: wrap;  /* правило вывода flex элементов в одну строку или в несколько. По умолчанию nowrap. Разрешаем перенос - wrap*/
}
.advantages_item{
    width: 30%; /*ширина блока 30%*/
}

footer{
    width: 100%;
    height: auto;
    background: #fab574;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: #fafafa;
    font-size: 14px;
    margin-left: 10px;
}
footer p{
    color: #fafafa;
}
footer nav a:hover{
    border-bottom: 1px solid #fafafa;
}
footer .graficlogo{
    margin-top: -70px;
}

.social img{
    margin-left: 10px;
    margin-bottom: 10px;
}
.social img:hover{
    background: #494949;
    border-radius: 90%;
}

.contact_container{ /**/
    margin-top: 40px;
    display: flex;  /*определим флэкс-контейнером  flex-box*/
    /*justify-content: space-between;*/
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
}
/*.contact{*/
    /*width: 35%;*/
    /*!*width: 500px;*!*/
    /*height: 400px;*/
    /*padding-top: 40px;*/
    /*!*width: 70%; !*ширина блока*!*!*/
    /*!*display: flex; !*определяем flex элементом*!*!*/
    /*!*justify-content: space-between; *!*/
    /*!*text-align: left;  !* текст по центру*!*!*/
    /*!*flex-wrap: wrgraficlogoap;*!*/
/*}*/
#map{
    width: 70%;
    /*width: 500px;*/
    height: 400px;
    padding-top: 40px;
    /*width: 70%; !*ширина блока*!*/
    /*display: flex; !*определяем flex элементом*!*/
    /*justify-content: space-between; !*пространство между элементами*!*/
    /*text-align: center;  !* текст по центру*!*/
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {  /*медиа запросы для разных размеров экранов. Все что записано ниже определено для экранов меньше 768px*/
    .topnav a:not(:first-child){ /*выбираем все ссылки кроме первого элемента*/
        display: none;
    }
    .topnav a.icon{
        float: right;  /*расположим иконку справа*/
        margin-top: -17px;
        display: block;
        color: black;
    }
    nav{
        width: 100%; /*ширина*/
        height: 100px; /*высота*/
    }
    .topnav.responsive{  /*класс responsive для topnav*/
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a { /*ссылки */
        float: none;  /*для определения ссылок в колонку*/
        display: block;
        text-align: center;  /*чтоб текст меню переместился вцентр*/
    }

    .advantages_item{
        width: 45%;
    }

}

@media screen and (max-width: 420px) {
    .advantages{
        flex-direction: column;  /*направление flex элементов, со значением в колонку */
    }
    .advantages_item{
        width: 100%;
    }
}