*{
    margin: 0; /*внешний отступ*/
    padding: 0; /*внутренний отступ*/
    /*???  reset normolize ???*/
}
a{  /*ссылки*/
    text-decoration: none;
}
li{  /*списки*/
    text-decoration: none;
    list-style: none;
}
body{
    background: #fafafa;
    font-family: 'Raleway', sans-serif;
}
.logo{
    /*background: #fab574;*/
    background: #000;
    width: 100%;  /*ширина*/
    display: flex;  /*определим что logo это flex контейнер*/
    justify-content: center;  /*выравнивание элементов горизонтально*/
}
.graficlogo{
    padding: 5px;
    max-width: 100%; /*чтоб картинка была адаптивной*/
    box-sizing: border-box; /*механизм который изменяет алгоритм расчета ширины и высоты*/
}

nav{
    margin: auto;
    width: 800px;
    height: 100px;
}
.topnav{
    background-color: #fafafa;
    font-size: 14px;
    margin-top: 30px; /*внешний отступ от верха*/
}
.topnav a{  /*стилезуем ссылки*/
    color: #000;
    text-align: center;
    padding: 14px 16px; /*14px сверху, 16px слева-справа*/
    font-size: 20px;
}
.topnav a:hover{  /*hover эффект*/
    border-bottom: 3px solid #fab574;  /*solid сплошная рамка*/
    /*background: #fab574;*/
}
.topnav .icon{
    display: none;
}

.mw-100{
    margin-top: -40px;
    width: 100%;
    /*max-width: 100%; !* отображение не будет выходить за пределы родиетльского контейнера,  для адаптивности  *!*/
}
.mw-100 img{
    max-width: 100%; /*отображение не будет выходить за пределы родиетльского контейнера,  для адаптивности  *!*/
}


.services{
    width: 80%;
    text-align: center;
    margin: 50px auto;
}
.services p{
    margin-top: 30px;
}

.services .leftimg{
    width: 300px;
    float:left;
}

.advantages_container{ /**/
    display: flex;  /*определим флэкс-контейнером  flex-box*/
    justify-content: center; /*выравнивание элементов вдоль горизонтальной оси*/
}
.advantages{
    padding-top: 40px;
    width: 70%; /*ширина блока*/
    display: flex; /*определяем flex элементом*/
    justify-content: space-between; /*пространство между элементами*/
    text-align: center;  /* текст по центру*/
    flex-wrap: wrap;  /* правило вывода flex элементов в одну строку или в несколько. По умолчанию nowrap. Разрешаем перенос - wrap*/
}
.advantages_item{
    width: 30%; /*ширина блока 30%*/
}

.form{
    width: 50%;
    margin: 50px auto;
}
.feedback-input{
    color: #000;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    background-color:#fff;
    padding: 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid transparent;
    border-bottom: 1px solid #000000;
    font-family: 'Raleway', sans-serif;
}

textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    font-family: 'Raleway', sans-serif;
}

.button-submit{
    float: left;
    width: 100%;
    border: 0px transparent;
    cursor: pointer;
    background-color: #000000;
    color: white;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 22px;
    transition: all 0.3s;
    margin-top: -10px;
    font-wight: 300;
}
.button-submit:hover{
    background-color:#ffffff;
    color: #000;
    border: 1px solid #000;
}

.ease{
    width: 0;
    height: 74px;
    background-color: #fafafa;
    transition: .3s ease;
}


label {
    /*-webkit-perspective: 1000px;*/
    /*perspective: 1000px;*/
    /*-webkit-transform-style: preserve-3d;*/
    /*transform-style: preserve-3d;*/
    /*display: block;*/
    width: 400px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}
.card div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
    opacity: .5;
}
.card .back {
    background: #222;
    color: #FFF;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: .8;
}
label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}
:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}
label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}


footer{
    width: 100%;
    height: auto;
    background: #000;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 25px;
}
footer a{
    color: #fafafa;
    font-size: 14px;
    margin-left: 10px;
}
footer p{
    color: #fafafa;
}
footer nav a:hover{
    border-bottom: 1px solid #fafafa;
}
footer .graficlogo{
    margin-top: -70px;
}

.social img{
    margin-left: 10px;
    margin-bottom: 10px;
}
.social img:hover{
    background: #494949;
    border-radius: 90%;
}

.contact_container{ /**/
    margin-top: 40px;
    display: flex;  /*определим флэкс-контейнером  flex-box*/
    /*justify-content: space-between;*/
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
}
/*.contact{*/
    /*width: 35%;*/
    /*!*width: 500px;*!*/
    /*height: 400px;*/
    /*padding-top: 40px;*/
    /*!*width: 70%; !*ширина блока*!*!*/
    /*!*display: flex; !*определяем flex элементом*!*!*/
    /*!*justify-content: space-between; *!*/
    /*!*text-align: left;  !* текст по центру*!*!*/
    /*!*flex-wrap: wrgraficlogoap;*!*/
/*}*/
#map{
    width: 70%;
    /*width: 500px;*/
    height: 400px;
    padding-top: 40px;
    /*width: 70%; !*ширина блока*!*/
    /*display: flex; !*определяем flex элементом*!*/
    /*justify-content: space-between; !*пространство между элементами*!*/
    /*text-align: center;  !* текст по центру*!*/
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {  /*медиа запросы для разных размеров экранов. Все что записано ниже определено для экранов меньше 768px*/
    .topnav a:not(:first-child){ /*выбираем все ссылки кроме первого элемента*/
        display: none;
    }
    .topnav a.icon{
        float: right;  /*расположим иконку справа*/
        margin-top: -17px;
        display: block;
        color: black;
    }
    nav{
        width: 100%; /*ширина*/
        height: 100px; /*высота*/
    }
    .topnav.responsive{  /*класс responsive для topnav*/
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a { /*ссылки */
        float: none;  /*для определения ссылок в колонку*/
        display: block;
        text-align: center;  /*чтоб текст меню переместился вцентр*/
    }

    .advantages_item{
        width: 45%;
    }

}

@media screen and (max-width: 420px) {
    .advantages{
        flex-direction: column;  /*направление flex элементов, со значением в колонку */
    }
    .advantages_item{
        width: 100%;
    }
}